{% extends 'admin/adminbase.html.twig' %}

{% block title %} Admin | Biereau.be - Dates d'inscriptions{% endblock %}

{% block content %}

        <div class="mt-4 ml-4 col-lg-6">
            <h1 class="h2">Nouvelle Date</h1>
                {{ include ('admin/school/registration/_form.html.twig', {form: form, button: 'Créer'}) }}
        </div>

{% endblock %}