{% extends "/admin/adminbase.html.twig" %}

{% block title "Biereau.be Admin | Connexion " %}


{% block body %}
    <body class="login">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">
            <div class="alert-danger">
                Vous n'avez pas les privilèges requis pour accéder à cette partie du site.
            </div>
        </div>
    </div>

    </body>
{% endblock %}