body {
    background: url('/images/maintenance/hand_spiner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text {
    font-family: 'Nerko One', cursive;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px #000;
}