{% extends "/admin/adminbase.html.twig" %}

{% block title "Biereau.be | Mail de reset du mot de passe envoyé" %}


{% block body %}
    <body class="login">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">

            <div class="alert alert-primary" role="alert">
                <p>Un e-mail vous a été envoyé contenant un lien vous permettant de réinitialiser votre mot de passe.
                    Ce lien expirera dans {{ tokenLifetime|date('g') }} heure.</p>
                <p>Si vous ne recevez pas d'e-mail, vérifiez votre dossier spam ou <a href="{{ path('forgot.password.request') }}">essayez à nouveau</a>.
                </p>

            </div>

        </div>
    </div>

    </body>
{% endblock %}