{%  extends "base.html.twig" %}

{% block title %}Equipe éducative{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/equipe_20_21_2.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Notre Equipe</h1>
                    <p class="breadcrumbs">
                        <span class="mr-2"><a href="{{ path('home.index') }}">Accueil <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>Equipe éducative <i class="ion-ios-arrow-forward"></i></span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-1 pb-1">
                <div class="col-md-8 text-center wrap-about py-5 wrap-about bg-light ftco-animate">
                        <h2>Nous vous présenterons bientôt toute l'équipe ici</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}