{%  extends "../../../../templates/base.html.twig" %}

{% block title %}Collège du Biéreau - Erreur 404{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({{ vich_uploader_asset(page, 'bannerImageFile') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Oups!!! Erreur 404</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">

            <p>Aïe!!! Apparemment vous êtes perdu...</p>
            <p>
            <div class="text-center mt-3 mb-3">
                <a href="{{ path('home.index') }}" class="btn btn-primary">Retourner à l'accueil</a>
            </div>
            </p>

        </div>
    </section>
{% endblock %}