{% extends 'admin/adminbase.html.twig' %}

{% block title %} Admin | Biereau.be - Gestion de Contenu{% endblock %}

{% block content %}

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Ajouter un groupe de fonctions/membres</div>
                            </div>
                            {{ include ('admin/school/staff/groups/_form.html.twig', {form: form, button: 'Ajouter'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}