<!DOCTYPE html>
<html>
<head>
    <title>Biereau.be - Accès refusé</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('../css/error403.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</head>
<body>
<div class="d-flex flex-column justify-content-center align-items-center pt-5">
    <img src="{{  asset('./images/crying-child.png') }}" alt="haunted house">
    <h1 class="p-2" style="color: red;">ERREUR 403</h1>
    <h3 class="p-5">Vous n'êtes pas autorisé à accéder à cette partie du site!</h3>
    <a class="btn btn-primary" href="{{ path('home.index') }}">Retour à l'accueil</a>
</div>
</body>
</html>