{% extends 'admin/adminbase.html.twig' %}

{% block title %} Admin | Biereau.be - Date de rentrée{% endblock %}

{% block content %}

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="row">
                    <div class="col-md-8">

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Créer une journée d'inscriptions</div>
                            </div>

                            {{ include ('admin/school/entrydate/_form.html.twig', {form: form, button: 'Créer'}) }}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}